{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block content %}
<br><br>
{% if user.is_authenticated %}
	<h1>Ya te has logueado</h1>
{% else %}
	{% if mensaje %}
		<div class="alert alert-danger" role="alert" role="alert">
		  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
		  	<span aria-hidden="true">&times;</span>
		  </button>
		  	<strong>Warning!</strong> {{mensaje}}.
		</div>
	{% endif %}
	<div class="row">
	<div class="col-md-offset-4 col-md-4">
	<form method="POST" accept-charset="utf-8">
		{% crispy form %}
		
	</form>
	</div>
	</div>
{% endif %}
{% endblock %}